*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}
body{
    background-color:  #c2e9fb ;
    height: 100vh;
    display: grid;
    place-items: center;
}

body, button, input{
    font-family: 'Montserrat', sans-serif;    
}

main{
    width: min(42.8rem 90%);
    background-color: #fff;
    margin: -12rem;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    padding: 4.8rem 6.4rem 6.4rem;
    text-align: center;
    font-size: 1.6rem;
}
button{
    background-color: #7879f1;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 1ms;
}
button:hover{
    background-color: #7979ac;
}
.hide{   
    display: none;
}

h1{
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
}
p{
    font-size: 1.4rem;
    opacity: 0.8;
}
h1, p{
    color: #343558;
}

form{
    margin-top: 4.8rem;
    display: flex;
    justify-content: center;
   
}

input, button{
    border: 0;
    padding: 1.6rem;
    border-radius: 0.4rem;
}

input{
    width: 5rem;
    background-color: #dce2e9;
}


/* screen-two*/

h2{
    font-size: 2.4rem;
    font-weight: normal;
    margin-bottom: 3.3rem;
}
